<div class="w-full max-w-3xl mx-auto my-10">
            <form>
                    <!-- Section -->
                    <div class="grid sm:grid-cols-2 gap-8 w-full mb-8">
                        <div class="w-full col-span-1">
                                <div class="text-3xl font-bold">Crear asignatura</div>
                                <div class="text-secondary">Ingresa la informacion para crear un asignatura</div>
                        </div>
                        <div class="col-span-1 relative">
                        </div>
                    </div>
                    <div [formGroup]="entityFormGroup" class="grid sm:grid-cols-2 gap-y-1 gap-x-5 w-full mt-8">

                      
                      
                      
                      
                        <div class="col-span-1">
                            <mat-form-field class="w-full">
                                <mat-label>Nombre</mat-label>

                                
                                  <input id='name' type="text" formControlName="name" matInput>
                                

                                

                                

                                

                                


                                

                                

                            </mat-form-field>
                        </div>
                      
                      
                    </div>
                    <!-- Divider -->
                    <div class="mt-11 mb-10 border-t"></div>
                    <!-- Actions -->
                    <div class="flex items-center justify-end">
                            <button
                                    class="ml-4"
                                    mat-flat-button
                                    type="button"
                                    (click)="this.entityID ? updateEntity() : createEntity()"
                                    [color]="'primary'">Guardar
                            </button>
                    </div>
            </form>
</div>
