
<div class="w-full p-10">

    <div>
        <app-clients (clientSelected)="selectClient($event)"></app-clients>
    </div>

    <div *ngIf="client">
        <div class="bg-card shadow rounded-2xl overflow-hidden py-8 px-6 mt-6">
            <div class="text-3xl font-bold">Detalles pedidos</div>
            <div class="grid grid-cols-4 gap-3 mt-4" [formGroup]="formGroup">
              <input formControlName="id" type="hidden">
              <input formControlName="client_id" type="hidden">



                    <div class="col-span-1">




                    <mat-form-field class="w-full">
                        <mat-label>Cantidad</mat-label>


                          <input id='amount' type="text" formControlName="amount" matInput>










                        <!--  -->




                    </mat-form-field>










                </div>



                    <div class="col-span-1">




                    <mat-form-field class="w-full">
                        <mat-label>Tipo pago</mat-label>






                          <mat-select id='payment_type' formControlName="payment_type">


                              <mat-option value="Efectivo">Efectivo </mat-option>

                              <mat-option value="Tarjeta">Tarjeta </mat-option>


                          </mat-select>






                        <!--  -->




                    </mat-form-field>










                </div>



                    <div class="col-span-1">




                    <mat-form-field class="w-full">
                        <mat-label>Producto</mat-label>











                        <!--  -->



                          <input formControlName="productToShow" class="cursor-pointer" (click)="selectEntity('product', 'productToShow')" type="text" matInput placeholder="Productos">
                          <input formControlName="product" type="hidden" placeholder="Producto">


                    </mat-form-field>










                </div>





                <!-- <div class="col-span-1">
                    <mat-form-field class="w-full">
                        <mat-label>Carro</mat-label>
                        <input formControlName="car" class="cursor-pointer" (click)="selectEntity('car')" type="text" matInput placeholder="Carro">
                        <input formControlName="car_id" type="hidden" placeholder="Carro">
                    </mat-form-field>
                </div> -->


                <div class="col-span-4">
                    <button (click)="formGroup.get('id').value ? update() : store()" class="bg-cyan-800 text-white w-full rounded" mat-button>Guardar</button>
                </div>
            </div>
            <div *ngIf="client" class="flex flex-col flex-auto mt-2 overflow-x-auto max-h-100">
                <table class="md:min-w-240 overflow-y-visible mt-12" mat-table [dataSource]="client.orders">



                    <!-- m9apbo0te3w7s3x2ppni column -->
                    <ng-container matColumnDef="amount">
                       <th mat-header-cell *matHeaderCellDef>
                          Cantidad
                       </th>
                       <td data-label="Dirección" mat-cell *matCellDef="let order" class="px-4" >
                          <span class="font-medium">

                          {{order.amount || "-"}}

                          </span>
                       </td>
                    </ng-container>



                    <!-- emzvxkpj0kxfvlmxmdoi column -->
                    <ng-container matColumnDef="payment_type">
                       <th mat-header-cell *matHeaderCellDef>
                          Tipo pago
                       </th>
                       <td data-label="Dirección" mat-cell *matCellDef="let order" class="px-4" >
                          <span class="font-medium">

                          {{order.payment_type || "-"}}

                          </span>
                       </td>
                    </ng-container>



                    <!-- mt7h7f1rvzzjvgsn14zu column -->
                    <ng-container matColumnDef="product">
                       <th mat-header-cell *matHeaderCellDef>
                          Producto
                       </th>
                       <td data-label="Dirección" mat-cell *matCellDef="let order" class="px-4" >
                          <span class="font-medium">

                          {{order.products.name || "-"}}

                          </span>
                       </td>
                    </ng-container>



                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
                        <td data-label="Dirección" mat-cell *matCellDef="let entity" class="px-4">
                            <mat-icon (click)="edit(entity.id)" class="text-red-400 cursor-pointer">edit</mat-icon>
                            <mat-icon (click)="delete(entity.id)" class="text-red-400 cursor-pointer">delete</mat-icon>
                        </td>
                    </ng-container>

                    <tr class="h-9" mat-header-row *matHeaderRowDef="columns; sticky: true" ></tr>
                    <tr class="h-6 hover-tabla" mat-row *matRowDef="let row; columns: columns" ></tr>
                </table>
            </div>
        </div>
    </div>
</div>
