
<div class="w-full p-10">

    <div>
        <app-clients (clientSelected)="selectClient($event)"></app-clients>
    </div>

    <div *ngIf="client">
        <div class="bg-card shadow rounded-2xl overflow-hidden py-8 px-6 mt-6">
            <div class="text-3xl font-bold">Detalles pedidos</div>
            <div class="grid grid-cols-4 gap-3 mt-4" [formGroup]="orderFG">
                <input formControlName="id" type="hidden">
                <div class="col-span-1">
                    <mat-form-field class="w-full">
                        <mat-label>Codigo venta</mat-label>
                        <input formControlName="sell_code" type="text" matInput placeholder="Codigo venta">
                    </mat-form-field>
                </div>
                <div class="col-span-1">
                    <mat-form-field class="w-full">
                        <mat-label>Precio venta</mat-label>
                        <input formControlName="price" type="text" matInput placeholder="Precio venta">
                    </mat-form-field>
                </div>
                <div class="col-span-1">
                    <mat-form-field class="w-full">
                        <mat-label>Carro</mat-label>
                        <input formControlName="car" class="cursor-pointer" (click)="selectEntity('car')" type="text" matInput placeholder="Carro">
                        <input formControlName="car_id" type="hidden" placeholder="Carro">
                    </mat-form-field>
                </div>
                <div class="col-span-1">
                    <mat-form-field class="w-full">
                        <mat-label>Cantidad</mat-label>
                        <input formControlName="amount" type="text" matInput placeholder="Cantidad">
                    </mat-form-field>
                </div>
                <div class="col-span-4">
                    <button (click)="orderFG.get('id').value ? update() : store()" class="bg-cyan-800 text-white w-full rounded" mat-button>Guardar</button>
                </div>
            </div>
            <div *ngIf="client" class="flex flex-col flex-auto mt-2 overflow-x-auto max-h-100">
                <table class="md:min-w-240 overflow-y-visible mt-12" mat-table [dataSource]="client.orders">

                    <ng-container matColumnDef="sell_code">
                        <th mat-header-cell *matHeaderCellDef>Codigo Venta</th>
                        <td data-label="Dirección" mat-cell *matCellDef="let entity" class="px-4">
                            <span class="font-medium">{{entity.sell_code || "-"}}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef>Precio</th>
                        <td data-label="Dirección" mat-cell *matCellDef="let entity" class="px-4">
                            <span class="font-medium">{{entity.price || "-"}}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                        <td data-label="Dirección" mat-cell *matCellDef="let entity" class="px-4">
                            <span class="font-medium">{{entity.amount || "-"}}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="car_id">
                        <th mat-header-cell *matHeaderCellDef>Carro</th>
                        <td data-label="Dirección" mat-cell *matCellDef="let entity" class="px-4">
                            <span class="font-medium">{{entity.car_id || "-"}}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
                        <td data-label="Dirección" mat-cell *matCellDef="let entity" class="px-4">
                            <mat-icon (click)="edit(entity.id)" class="text-red-400 cursor-pointer">edit</mat-icon>
                            <mat-icon (click)="delete(entity.id)" class="text-red-400 cursor-pointer">delete</mat-icon>
                        </td>
                    </ng-container>

                    <tr class="h-9" mat-header-row *matHeaderRowDef="columns; sticky: true" ></tr>
                    <tr class="h-6 hover-tabla" mat-row *matRowDef="let row; columns: columns" ></tr>
                </table>
            </div>
        </div>
    </div>
</div>
