<div class="w-full p-10">
	<div class="grid grid-cols-1 sm:grid-cols-2 gap-8 w-full mb-6">
		<div class="w-full col-span-1">
			<div class="text-3xl font-bold">Asignaturas</div>
			<div class="text-secondary">Una lista de asignaturas registradas en el sistema</div>
		</div>
		<div class="w-full col-span-1">
			<div class='sm:text-right'>
				<button [routerLink]="'/asignaturas/crear'" class="w-full sm:w-fit rounded mr-1 px-3 bg-primary-300 text-on-primary-300" mat-stroked-button>Crear asignatura</button>
			</div>
		</div>
		<div class="w-full col-span-1">
			<!-- Success -->
			<fuse-alert *ngIf="m" [type]="'success'">
				<span fuseAlertTitle>Exito</span>
				El/la asignatura ha sido
				<span *ngIf="m==='1'">creado</span>
				<span *ngIf="m==='2'">actualizado</span>
				exitosamente
			</fuse-alert>
		</div>
	</div>

  
    <hr class="my-3">
	<div class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
		<!-- Section -->
		<div class="flex flex-col flex-auto mt-2 overflow-x-auto">
				<table
						class="md:min-w-240 overflow-y-visible"
						mat-table
						[dataSource]="dataSource">

        
          
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td data-label="Dirección" mat-cell *matCellDef="let asignature" class="px-4">
                <span class="font-medium">
                  {{asignature.id || "-"}}
                </span>
              </td>
            </ng-container>
          
        
          
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td data-label="Dirección" mat-cell *matCellDef="let asignature" class="px-4">
                <span class="font-medium">
                  {{asignature.name || "-"}}
                </span>
              </td>
            </ng-container>
          
        

				<!-- Acciones -->
				<ng-container matColumnDef="actions">
					<th mat-header-cell *matHeaderCellDef>Acciones</th>
					<td data-label="Acciones" mat-cell *matCellDef="let asignature">
						<div class="flex justify-end gap-2">
							<div class="1/2">
									<mat-icon [routerLink]="'/asignaturas/editar/'+asignature.id" class="text-on-primary-300">edit</mat-icon>
							</div>
						<div class="1/2">
									<mat-icon (click)="confirmDestroy(asignature.id)" class="text-red-500">delete</mat-icon>
							</div>
						</div>
					</td>
				</ng-container>

					<tr class="table-header" mat-header-row *matHeaderRowDef="columns"></tr>
					<tr class="cursor-pointer" mat-row *matRowDef="let row; columns: columns;"></tr>
				</table>
				<mat-paginator [length]="entitiesPaginated?.total"
						[pageSize]="entitiesPaginated?.per_page"
						[pageSizeOptions]="[10, 25, 100]"
						(page)="paginate($event)"
						aria-label="Select page">
				</mat-paginator>
		</div>
	</div>
</div>
