<div class="w-full p-10">
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 w-full">
    <div class="w-full col-span-1">
      <div class="text-3xl font-bold">Carros</div>
      <div class="text-secondary">
        Una lista de carros registradas en el
        sistema
      </div>
    </div>
    <div class="w-full col-span-1">
      <div class="sm:text-right">
        <button
          (click)="manageEntity(null)"
          class="w-full sm:w-fit rounded mr-1 px-3 bg-primary-300 text-on-primary-300"
          mat-stroked-button
        >
          Crear carro
        </button>
      </div>
    </div>
    <div class="w-full col-span-1">
      <!-- Success -->
      <fuse-alert *ngIf="m" [type]="'success'">
        <span fuseAlertTitle>Exito</span>
        El/la carro ha sido
        <span *ngIf="m === '1'">creado</span>
        <span *ngIf="m === '2'">actualizado</span>
        exitosamente
      </fuse-alert>
    </div>
  </div>
  <div
    [formGroup]="_searchFormGroup"
    class="grid grid-cols-11 gap-2 items-center search-form"
  >
    <!-- mrg2px5qez9xrbgy8d4v search field -->
    <div class="col-span-2">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Nombre</mat-label>

        <input
          id="name"
          type="text"
          formControlName="name"
          matInput
        />
      </mat-form-field>
    </div>
    <div class="col-span-2">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Termino</mat-label>
        <input matInput formControlName="searchString" />
      </mat-form-field>
    </div>
    <div class="col-span-1 text-left">
      <button (click)="makeSearch(1)" mat-mini-fab>
        <mat-icon aria-label="Example icon-button with a heart icon"
          >search</mat-icon
        >
      </button>
    </div>
  </div>
  <hr class="my-3" />
  <div
    class="sm:col-span-6 flex flex-col flex-auto py-2 px-6 bg-card shadow rounded-2xl overflow-hidden"
  >
    <!-- Section -->
    <div class="flex flex-col flex-auto mt-2 overflow-x-auto max-h-100">
      <table
        class="md:min-w-240 overflow-y-visible"
        mat-table
        [dataSource]="dataSource"
      >

        <!-- mrg2px5qez9xrbgy8d4v column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>
            Nombre
          </th>
          <td
            data-label="Dirección"
            mat-cell
            *matCellDef="let car"
            class="px-4"
          >
            <span class="font-medium">
              {{car.name || "-"}}
            </span>
          </td>
        </ng-container>

        <!-- Acciones -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td
            data-label="Acciones"
            mat-cell
            *matCellDef="let car"
          >
            <div class="flex justify-end gap-2">
              <div class="1/2">
                <mat-icon
                  (click)="manageEntity(car.id)"
                  class="text-on-primary-300 cursor-pointer"
                  >edit</mat-icon
                >
              </div>
              <div class="1/2">
                <mat-icon
                  (click)="confirmDestroy(car.id)"
                  class="text-red-500 cursor-pointer"
                  >delete</mat-icon
                >
              </div>
            </div>
          </td>
        </ng-container>
        <tr
          class="h-9"
          mat-header-row
          *matHeaderRowDef="columns; sticky: true"
        ></tr>
        <tr
          class="h-6 hover-tabla"
          mat-row
          *matRowDef="let row; columns: columns"
        ></tr>
      </table>
      <mat-paginator
        [length]="entitiesPaginated1?.total"
        [pageSize]="entitiesPaginated1?.per_page"
        [pageSizeOptions]="[10, 25, 100]"
        (page)="paginate($event, 1)"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
  <hr class="my-10" />
  <div
    class="flex flex-row flex-wrap flex-auto overflow-hidden py-3"
    style="gap: 20px"
  >
    <div
      style="width: calc(25% - 20px)"
      *ngFor="let car of entitiesPaginated2?.data"
    >
    <div
    (click)="manageEntity(car.id)"
    class="bg-card shadow rounded-2xl p-4 cursor-pointer transition ease-in-out hover:scale-105 duration-300"
>
    <div class="flex gap-2">

                <div class="text-left" style="width: calc(50% - 8px)">
                    <div class="text-xs">Nombre</div>
                    <div class="text-base">
                        {{car.name || "-"}}
                    </div>
                </div>

    </div>
    <hr class="my-1" />

    <hr class="my-1" />
    <div class="flex gap-2">

    </div>
</div>
    </div>
  </div>
  <mat-paginator
    [length]="entitiesPaginated2?.total"
    [pageSize]="entitiesPaginated2?.per_page"
    [pageSizeOptions]="[10, 25, 100]"
    (page)="paginate($event, 2)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
